.container {
  height: 100vh;
  .header {
    height: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;

    .navigate {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      a {
        text-decoration: none;
        color: black;
        font-size: 0.9rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .logo {}

    .profile {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;

      .freeTrial {
        font-size: 0.6rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
        
        .cta {
          background-color: gold;
          border-radius: 1rem;
          padding: 0.5rem 1rem;
          cursor: pointer;
        }
      }
    }
  }
  .mainContainer {
    height: calc(100vh - 60px);
    .main {
      height: 100%;
      // max-width: 1200px;
    }
  }

  .footer {
    display: none;
  }
}