.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: rgba(55, 56, 59, 0.7);

  .pay {
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;

    .closeButton {
      position: absolute;
      top: 2rem;
      right: 2rem;
      cursor: pointer;
      font-size: 2rem;
      color: #2F065F;
    }

    button {
      color: white;
      background-color: #2F065F;
      padding: 1rem 8rem;
      margin-top: 2rem;
      font-weight: 600;
      font-size: 1rem;
      letter-spacing: 1px;
      cursor: pointer;

      &:disabled {
        background-color: #473956;
        cursor: not-allowed;
      }
    }
  }
}